@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Julius+Sans+One&display=swap");

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homeWrapper {
  background-image: url("./img/goodness-2258249.png");
  margin-top: -21px;
  background-position: top;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  
}


.navLink {
  margin: 0 10px 0 10px;
}
#menuLink a {
  color: rgb(155, 83, 70);
}
#menuLink a:hover {
  color: rgb(255, 200, 185);
}
.homeMenu {
  width: 400px;
  height: 400px;
  margin: 90px 0 0 60px;
  background-image: url("https://i.postimg.cc/vT9YHnz0/scroll.png");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  position: relative;
  animation: mymove 5s ;
  animation-iteration-count: 1;
}

@keyframes mymove {
  from {left: -650px;}
  to {left: 0px;}
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cinzel", serif;
  font-size: 30px;
  margin: 60px 0 0 0;
}
a {
  text-decoration: none;
  color: rgb(255, 251, 239);
  -webkit-filter: drop-shadow(1px 1px 1px rgb(26, 25, 25));
  filter: drop-shadow(1px 1px 1px rgb(26, 25, 25));
}
a:hover,
a:active {
  color: rgb(255, 200, 185);
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  /* background-color: rgb(104, 123, 185); */
  background-color: rgb(155, 83, 70);
  padding: 10px;
  color: rgb(255, 251, 239);
  font-size: 7px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-filter: drop-shadow(2px 2px 2px rgb(26, 25, 25));
  filter: drop-shadow(2px 2px 2px rgb(26, 25, 25));
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: "Julius Sans One", sans-serif;
}
.title {
  text-align: center;
  padding: 10px;
  /* margin: 10px; */
  font-family: "Cinzel", serif;
  background: rgb(255, 254, 239);
  background: radial-gradient(
    circle,
    rgb(255, 251, 239) 0%,
    rgb(238, 222, 179) 59%,
    rgb(197, 183, 143) 100%
  );
}
h3 {
  margin: 5px 0 5px 0;
}
.libraryHeader {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: bold;
  margin: 25px;
  -webkit-filter: drop-shadow(2px 2px 2px rgb(26, 25, 25));
  filter: drop-shadow(2px 2px 2px rgb(26, 25, 25));
}
.scrollWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.473);
}
.scroll {
  background-image: url("https://i.postimg.cc/vT9YHnz0/scroll.png");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  height: 320px;
  width: 300px;
  cursor: pointer;
}
.scroll:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
.bookInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  margin-top: 5px;
  font-family: "Cinzel", serif;
  font-size: 15px;
  text-align: center;
}
.smallText {
  font-size: 13px;
}
.scrollText {
  padding: 3px;
}
.footerWrapper {
  /* background-color: rgb(70, 86, 155); */
  background-color: rgb(155, 83, 70);
  padding: 25px;
  text-align: center;
  bottom: 0;
}
.studentName {
  font-family: "Julius Sans One", sans-serif;
  padding: 10px;
  margin: 30px 0 -5px 0;
}
.studentContainer {
  display: flex;
  justify-content: space-evenly;
}

.templeImage {
  margin-top: 10px;
  width: 5%;
  height: auto;
}

/* FOOTER */
.prayersContainer {
  font-family: "Cinzel", serif;
  margin: 0 300px 0 300px;
}

.prayersWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pillar {
  height: 20px;
}

.inputPrayer {
  /* width: 20vw; */
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 400px;
  margin-left: 30px;
}

input:focus {
  outline: none;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgAthena {
  height: 50%;
  max-height: 60vh;
  filter: sepia(0.5);
  border-radius: 50px;
  margin-bottom: 20px;
  box-shadow:
  0 0 5px 1px rgb(197, 183, 143),
  0 0 15px 6px rgb(238, 222, 179),
  0 0 25px 10px rgb(255, 251, 239);
}

.InputDetails {
  font-family: "Julius Sans One", sans-serif;
}


.input {
  padding: 1.5em;
  border-radius: 14px;
  margin-bottom: 1.5em;
}
.CuteButton {
  margin: 2em;
  font-size: medium;
  margin: 10px;
  font-family: "Julius Sans One", sans-serif;
  border-radius: 14px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  background: radial-gradient(
    circle,
    rgb(255, 251, 239) 0%,
    rgb(238, 222, 179) 59%,
    rgb(197, 183, 143) 100%
  );

  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(3, 1, 1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}

.CuteButton:hover {
  background: radial-gradient(
    circle,
    rgb(255, 251, 239) 0%,
    rgb(238, 222, 179) 59%,
    rgb(197, 183, 143) 100%
  );
}

.CuteButton:active {
  background: radial-gradient(
    circle,
    rgb(255, 251, 239) 0%,
    rgb(238, 222, 179) 59%,
    rgb(197, 183, 143) 100%
  );
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  margin-bottom: 30px;
}

.response {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.response2 {
  font-weight: bolder;
  color: rgb(155, 83, 70);
}

.scrollBag {
  background-color: beige;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: 0 20px 0 20px;
}

@media screen and (max-width: 768px) {

  .homeWrapper {
    background-position: right 20px;
  }
  .prayersWrapper {
    flex-direction: column;
  }
  .prayersContainer{
    margin : 0; 
  }

  .inputPrayer{
    width:auto;
    margin: 15px;
  }
  .templeImage {
    width: 15%;
  }
.studentName {
  padding: 5px;
  margin: 30px 0 -5px 0;
}

.homeMenu {
  display: none;
}
}