.App {
  text-align: center;
}

.scroll {
  background-image: url("./img/scroll.png");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  height: 320px;
  width: 300px;
}
.bookInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
